**/__pycache__/
*.py[cod]
/data/aspm/*.csv
/data/aspm/cleaned/*.csv
/data/aspm/processed/*.csv
/data/aspm/raw/aspm_output/run_[0-9][0-9][0-9][0-9]_*/raw_html/
/data/bts/*.csv
/data/bts/cleaned/*.csv
/data/bts/processed/*.csv
/data/bts/raw/2019/*.csv
/data/bts/raw/2019/On_Time_Reporting_Carrier_On_Time_Performance_1987_present_2019_*/
/data/bts/raw/2023/*.csv
/data/bts/raw/2023/On_Time_Reporting_Carrier_On_Time_Performance_1987_present_2023_*/
/data/bts/raw/2024/*.csv
/data/bts/raw/2024/On_Time_Reporting_Carrier_On_Time_Performance_1987_present_2024_*/
/data/noaa/*.csv
/data/noaa/cleaned/*.csv
/data/noaa/processed/*.csv
/data/noaa/raw/2019/*.csv
/data/noaa/raw/2023/*.csv
/data/noaa/raw/2024/*.csv
/data/features/*.csv
/data/merged/*.csv
